nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 10px;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2rem;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;
    gap: 0;

    .logo {
      width: 100%;
      justify-content: center;
      margin-bottom: 1rem;
    }

    ul {
      width: 100%;
      justify-content: space-around;
    }
  }
}
